#IMG_1 {
    position:absolute;
    top:10px;
    left:10px;
    width:640px;
    height:480px;
    z-index:1;
}
#IMG_2 {
    position:absolute;
    background-color: transparent;
    top:10px;
    left:10px;
    width:640px;
    height:480px;
    z-index:2;
}